.card-container {
    display: flex;
    flex-direction: column;
    margin: 10px 12px;
    padding: 0.7rem;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    background-color: gainsboro;
}

.card-header {
    display: flex;

}

.product-image {
    width: 200px;
    height: 230px;
}
.cart-button {
   border: none;
   padding: 0.5rem;
   border-radius: 6px;
   cursor: pointer;
   
}
.product-name {
    font-size: 18px;
    text-align: center;
}

.price {
    display: flex;
    justify-content: space-around;
}

.actual-price {
    text-decoration: line-through;
    color: grey;
}

.product-quantity {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 8px;
}

.product-quantity > button {
    width: 30px;
    padding: 4px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

