.landing-container {
    margin-top: 40px;
    padding: 1rem;
}

.landing-container > main > h2 {
    text-align: center;
    margin-bottom: 4px;
}

.images > a  {
    display: flex;
    justify-content: space-between;
    
    
}

.home-image {
    width: 50%;
    height: 380px;
    margin: 0px 2px;
    cursor: pointer;
}

.category-container {
    margin: 12px;

}
.category-container  > h3 {
    text-align: center;
    background-color: red;
    color: #fff;
    
}

.categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 

.category-card {
    display: flex;
    gap: 6px;
    background-color: #F5F5F5; 
    margin: 8px 4px;
    width: 360px;
    
}

.category-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}




a {
    color: black;
}

.category-image {
    height: 200px;
    width: 200px;
}