.filters-container {
    margin-top: 20px;
    margin-left: 12px;
    width: 300px;
    padding: 12px;
    justify-content: space-evenly;
    background-color: #f8f8f8;
}

.filters {
    display: flex;
    flex-direction: column;
}

.category {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

.rating {
    margin: 10px 0px;
}

.sort {
    margin: 10px 0px;
}
